.App {
  display: flex;
  flex-direction: column;
}

.booking {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 8dvh;
  background: #FFEBD0;
}


.booking a {
  text-decoration: none;
  color: black;
}

.booking h1 {
  font-family: 'Cormorant Infant', serif;
}

.image {
  width: 100vw;
}

@media (max-width: 500px) {
  .booking h1 {
    font-size: 1.5em;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
